:root {
    --color-chocolate-light: #d2691e;
    --color-chocolate-medium: #ce4b12;
    --color-chocolate-dark: #8b4513;
    --color-text-base: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-light: var(--color-chocolate-light);
        --color-background-medium: var(--color-chocolate-medium);
        --color-background-dark: var(--color-chocolate-dark);
        --color-text: var(--color-text-base);
    }
}
