@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

body {
    background: var(--color-background-dark);
    background: -moz-linear-gradient(45deg, var(--color-background-dark) 0%, var(--color-background-light) 100%);
    background: -webkit-linear-gradient(45deg, var(--color-background-dark) 0%, var(--color-background-light) 100%);
    background: linear-gradient(45deg, var(--color-background-dark) 0%, var(--color-background-light) 100%);
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-chocolate-dark);
    }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}

.navbar {
    background-color: var(--color-chocolate-medium);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    padding: 5px;
    border-radius: 5px;
    color: var(--color-text);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    background-color: var(--color-chocolate-medium);
}

.alert-danger {
    width: max-content;
    font-size: 0.80rem;
    padding: 0.15rem 0.3rem;
    margin-bottom: 0.2rem;
    border-radius: 0.15rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.loader {
    position: absolute;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
