@import './base.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
    height: 100%;
    margin: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-flex-auto {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

body {
    background: var(--color-background-dark);
    background: -moz-linear-gradient(45deg, var(--color-background-dark) 0%, var(--color-background-light) 100%);
    background: -webkit-linear-gradient(45deg, var(--color-background-dark) 0%, var(--color-background-light) 100%);
    background: linear-gradient(45deg, var(--color-background-dark) 0%, var(--color-background-light) 100%);
}

@media (hover: hover) {
    a:hover {
        background-color: var(--color-chocolate-dark);
    }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
}

.navbar {
    background-color: var(--color-chocolate-medium);
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    padding: 5px;
    border-radius: 5px;
    color: var(--color-text);
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    background-color: var(--color-chocolate-medium);
}

.alert-danger {
    width: max-content;
    font-size: 0.80rem;
    padding: 0.15rem 0.3rem;
    margin-bottom: 0.2rem;
    border-radius: 0.15rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.loader {
    position: absolute;
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.header-entry {
    background: -moz-linear-gradient(to right, var(--color-background-light) 0%, var(--color-text-base) 50%, var(--color-background-light) 100%);
    background: -webkit-linear-gradient(to right, var(--color-background-light) 0%, var(--color-text-base) 50%, var(--color-background-light) 100%);
    background: linear-gradient(to right, var(--color-background-light) 0%, var(--color-text-base) 50%, var(--color-background-light) 90%);
    color: #c1c8e4;
    font-family: 'Arial', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: var(--color-chocolate-dark);
    position: relative;
    overflow: hidden;
    transition: color 0.3s;
    width: max-content;
    border: 1px solid brown;
}


.glow-effect::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    transition: left 0.5s;
}

.glow-effect:hover::after {
    left: 100%;
}
